@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

h1{
  font-size: 40px;
  line-height: 49px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  
  /* Dark Grey */
  color: #1D1C1C;
}